@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-gradient-orange {
    background: linear-gradient(to right, #ff8a05, #f9b331);
  }

  .text-shadow-orange {
    text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
  }
}

body {
  background: radial-gradient(#282c34, #282c34);
  font-family: Arial, Helvetica, sans-serif;
}
