@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-3xl font-bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1rem;
  }
  p {
    @apply text-lg;
  }

  li {
    @apply mb-8
  }
}

@layer components {
  .loading {
    animation: loading 1.2s ease-in-out infinite;
  }
  .animation-header-text {
    animation: fade-slide-in-from-left 1s ease-out forwards;
  }

  .animation-instructions {
    animation: fade-slide-in-from-bottom 1s ease-out forwards;
  }

  .animation-image {
    animation: fade-slide-in-from-right 1s ease-out forwards;
  }

  .button-meal-share {
    padding: 0.75rem 2rem;
    background: linear-gradient(to right, #f9572a, #ff9b05);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  @keyframes loading {
    0% {
      color: #e9e9e9;
    }
    50% {
      color: #b89b84;
    }
    100% {
      color: #e9e9e9;
    }
  }

  @keyframes fade-slide-in-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-slide-in-from-right {
    0% {
      opacity: 0;
      transform: translateX(-1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-slide-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@layer utilities {
  .text-gradient-orange {
    background: linear-gradient(to right, #ff8a05, #f9b331);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header-gradient-orange {
    background: linear-gradient(to right, #f9572a, #ff9b05);
  }

  .text-header-gradient {
    background: linear-gradient(to right, #f9572a, #ffc905);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .header-gradient-orange-hover {
    background: linear-gradient(to right, #fd4715, #f9b241);
  }

  .text-shadow-orange {
    text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-shadow-creator {
    text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
  }

  .drop-shadow-logo {
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  }

  .transform-slideshow {
    transform: scale(1.1) translateX(-1rem) rotate(-5deg);
  }

  .transform-slideshow-active {
    transform: scale(1) translateX(0) rotate(0);
  }

  .box-shadow-slideshow {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  }

  .text-montserrat {
    font-family: 'Montserrat', sans-serif;
  }

  .grid-template-meals {
    display: grid;
    grid-template-columns: repeat(auto-fill, minimax(20rem, 1fr));
    grid-gap: 5rem;
  }

  .shadow-meal-item {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  }

  .background-meal-item {
    background: linear-gradient(to right, #2c1e19, #25200f);
  }

  .background-meal-item-hover {
    background: linear-gradient(to right, #fd4715, #f9b241);
    box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
  }
}

body {
  background: radial-gradient(#282c34, #282c34);
  font-family: Arial, Helvetica, sans-serif;
}
